/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";

body {
	margin: 0;
}

h1, a { 
 z-index: 2;
 position: relative;
}

ul {
	list-style: none;
	text-align: center;
}

a {
	display: block;
	width: 150px;
	margin: 0 20px;
	font-size: 1em;
	background: orange;
	text-align: center;
	border-radius: 3px;
	padding: 10px;
	border: 1px solid rgba(0,0,0,0.3);
	color: #fff;
	transition: 200ms all ease;
	box-shadow: inset 0 1px 0 rgba(255,255,255,0.4);
	text-decoration: none;
	font-family: sans-serif;
}

// Like, dislike

ul:not(.items) {
	li:first-child {
		a {
			background: red;
			&:hover {
				background: red;
				cursor: pointer;
			}
		}
	}
	li:last-child {
		a {
			background: #1bc70e;
		}
		&:hover {
			background: #17a20c;
		}
	}
}



li {
	display: inline-block;
}


// Links going across the top of the page

.items {
	margin: 0;
	padding: 0;
	font-size: 0;
	li {
		width: 20%;
		margin: 0;
		a {
			width: 100%;
			margin: 0;
			border: none;
			border-radius: 0;
			background: none;
			box-shadow: none;
			padding: 0;
			display: block;
			height: 100%;
			box-sizing: border-box;
			padding: 20px;
			font-family: 'Mako', sans-serif;
			text-transform: uppercase;
			font-size: 16px;
		}
		&:first-child {
			background: #A3A948;
			a:hover {
				background: none;
			}
		}	
		&:nth-child(2) {
			background: #EDB92E;
		}
		&:nth-child(3) {
			background: #F85931;
		}
		&:nth-child(4) {
			background: #CE1836;
		}
		&:last-child {
			background: #009989;
		}
	}
}


// The cards themselves

.cards {
	li {
		display: none;
		&.show {
			display: block;
		}
	}
}