{% extends "layout.twig" %}

{% block content %}

	{% include "partials/navigation.twig" %}

	{% include "partials/cards.twig" %}

	<ul>
		<li><a data-url="" class="hate" href="">I Hate Dis</a></li>
		<li><a class="like" href="">I Like Dis</a></li>
	</ul>

{% endblock %}